@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face{
    font-family: 'OldeEnglishFont';
    src: url(../fonts/OldeEnglish.ttf)
}

html, body{
    scroll-behavior: smooth;
    color: black;
    height: 100%;
    width: 100%;    
    font-family: 'Lato';  
    font-size: medium;
    background-color: black;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a :hover{
    text-decoration: none !important;   
    color: lightcyan;    
}

.brand h1{
    color: #E2F1AF;
    font-family: OldeEnglishFont;
    font-size: 3em;    
}

.date p{         
    font-size: medium; 
    font-weight: 600;    
}

.border-b{
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

.jumbotron1{
    background-color: #14342B;
    color: #E2F1AF;
    border-radius: 0em !important;    
}

.jumbotron1 p{
    font-size: medium;
}

.jumbotron1 p:hover{
    cursor: pointer;
}

.jumbotron1 a:hover{
    color: #FCF6B1;
}

hr{
    border-color: gray;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.open-sources :hover,
.open-countries :hover,
.open-topics :hover{
    cursor: pointer;     
}

.lists p{
    font-size: 0.9em;    
    line-height: 0.8em;
    color: #FB8B24;
}

.sources,
.countries{    
    display: none;
}

.jumbotron2{
    color: black;
    border-radius: 0em !important;
    margin: 0em;
    padding: 0em !important;
    background-color: transparent;
}

.card img{
    object-fit: cover;
    max-width: 100%;    
}

.card{
    padding-top: 3%;
    padding-bottom: 3%;    
}

.card p{
    font-size: medium;
}

img{
    object-fit: cover;
    max-width: 100%;     
}

.carousel-caption{
    background-color: rgb(0,0,0,0.5);
    padding: 0.5em;
    color: white;      
}

.carousel-caption p{
    font-size: medium;
}

.carousel a:hover{
    color: #5B2333;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    height: 100%;
}

.jumbotron3{
    background-color: #14342B;
    color: #E2F1AF;
    border-radius: 0em !important;
    padding-left: 7% !important;
    padding-right: 3% !important;    
}

.jumbotron3 p{
    font-size: medium;
}

label{    
    font-weight: 600;
    font-size: large;
}

.jumbotron4{
    background-color: #14342B;
    color: #E2F1AF;
    border-radius: 0em !important;
    padding-left: 7% !important;
    padding-right: 3% !important;
    padding-top: 1em !important;    
}

.jumbotron4 p{
    font-size: medium;
}

.headline a{
    color: #FB8B24;
}

.headline a:hover{
    color: lightsalmon;
}

.head-suffix{
    font-size: 0.7em !important;
}



