{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!--Sidenav-->
        <div class="col-xs-12">
            <div class="jumbotron jumbotron1">
                <div class="row">
                    <div class="col-xs-12 brand">
                        <a href="/"><h1>The Daily Tribune</h1></a>
                    </div>
                </div>
                <div class="row border-b">
                    <div class="col-xs-12 date">
                        <p id="date"></p>
                        <p id="time"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <p><a>Breaking News</a></p>
                        <hr>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-8 open-topics">
                                <p>Topics</p>
                            </div>
                            <div class="col-xs-4 text-right open-topics">
                                <span id="topics" class="glyphicon glyphicon-menu-down"></span>
                            </div>
                            <div class="col-xs-12 topics">
                                <div class="row lists">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-10">
                                        <p>General</p>
                                        <p>Business</p>
                                        <p>Entertainment</p>
                                        <p>Health</p>
                                        <p>Science</p>
                                        <p>Technology</p>
                                        <p>Sports</p>
                                    </div>
                                </div>
                            </div>
                        </div>                                               
                        <hr>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-8 open-sources">
                                <p>Sources</p>
                            </div>
                            <div class="col-xs-4 text-right open-sources">
                                <span id="sources" class="glyphicon glyphicon-menu-down"></span>
                            </div>
                            <div class="col-xs-12 sources">
                                <div class="row lists">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-10">
                                        <p>CNN</p>
                                        <p>CBS News</p>
                                        <p>BBC News</p>
                                        <p>USA Today</p>
                                        <p>Politico</p>
                                    </div>
                                </div>
                            </div>

                        </div>                                               
                        <hr>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-8 open-countries">
                                <p>Countries</p>
                            </div>
                            <div class="col-xs-4 text-right open-countries">
                                <span id="countries" class="glyphicon glyphicon-menu-down"></span>
                            </div>
                            <div class="col-xs-12 countries">
                                <div class="row lists">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-10">
                                        <p>USA</p>
                                        <p>Canada</p>
                                        <p>Australia</p>
                                        <p>Germany</p>
                                        <p>France</p>
                                        <p>China</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!--Content section-->
        <div class="col-md-6">
            <div class="jumbotron jumbotron2">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <!-- <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol> -->

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="https://placehold.it/1200x315" alt="...">
                                <div class="carousel-caption">
                                    <h3>Caption Text</h3>
                                </div>
                              </div>
                              <div class="item">
                                <img src="https://placehold.it/1200x315" alt="...">
                                <div class="carousel-caption">
                                    <h3>Caption Text</h3>
                                </div>
                              </div>
                              <div class="item">
                                <img src="https://placehold.it/1200x315" alt="...">
                                <div class="carousel-caption">
                                    <h3>Caption Text</h3>
                                </div>
                              </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div> 
                        <!-- Carousel -->

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}