{% extends 'base.html' %}

{% import 'macros.html' as macro%}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!--Sidenav-->
        <div class="col-md-3">
            <div class="jumbotron jumbotron1">
                <div class="row">
                    <div class="col-xs-12 brand">
                        <a href="/"><h1>The Daily Tribune</h1></a>
                    </div>
                </div>
                <div class="row border-b">
                    <div class="col-xs-12 date">
                        <p id="date"></p>
                        <p id="time"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><a>Breaking News</a></p>
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-8 open-topics">
                                <p>Topics</p>
                            </div>
                            <div class="col-xs-4 text-right open-topics">
                                <span id="topics" class="glyphicon glyphicon-menu-up"></span>
                            </div>
                            <div class="col-xs-12 topics">
                                <div class="row lists">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-10">
                                        <p>General</p>
                                        <p>Business</p>
                                        <p>Entertainment</p>
                                        <p>Health</p>
                                        <p>Science</p>
                                        <p>Technology</p>
                                        <p>Sports</p>
                                    </div>
                                </div>
                            </div>
                        </div>                                               
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-8 open-sources">
                                <p>Sources</p>
                            </div>
                            <div class="col-xs-4 text-right open-sources">
                                <span id="sources" class="glyphicon glyphicon-menu-down"></span>
                            </div>
                            <div class="col-xs-12 sources">
                                <div class="row lists">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-10">
                                        {{macro.displaySources(sources)}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>                                               
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-8 open-countries">
                                <p>Countries</p>
                            </div>
                            <div class="col-xs-4 text-right open-countries">
                                <span id="countries" class="glyphicon glyphicon-menu-down"></span>
                            </div>
                            <div class="col-xs-12 countries">
                                <div class="row lists">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-10">
                                        <p>USA</p>
                                        <p>Canada</p>
                                        <p>Australia</p>
                                        <p>Germany</p>
                                        <p>France</p>
                                        <p>China</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <!--Content section-->
        <div class="col-md-6">
            <div class="jumbotron jumbotron2">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">                            
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="{{breaking_news[0].url_to_image}}" alt="...">
                                <div class="carousel-caption">
                                    <p><a href="{{breaking_news[0].url}}">{{breaking_news[0].title}}</a></p>                                                                      
                                </div>
                              </div>
                              <div class="item">
                                <img src="{{breaking_news[1].url_to_image}}" alt="...">
                                <div class="carousel-caption">
                                    <p><a href="{{breaking_news[1].url}}">{{breaking_news[1].title}}</a></p>                                    
                                </div>
                              </div>
                              <div class="item">
                                <img src="{{breaking_news[2].url_to_image}}" alt="...">
                                <div class="carousel-caption">
                                    <p><a href="{{breaking_news[2].url}}">{{breaking_news[2].title}}</a></p>                                    
                                </div>
                              </div>
                              <div class="item">
                                <img src="{{breaking_news[3].url_to_image}}" alt="...">
                                <div class="carousel-caption">
                                    <p><a href="{{breaking_news[3].url}}">{{breaking_news[3].title}}</a></p>                                    
                                </div>
                              </div>
                              <div class="item">
                                <img src="{{breaking_news[4].url_to_image}}" alt="...">
                                <div class="carousel-caption">
                                    <p><a href="{{breaking_news[4].url}}">{{breaking_news[4].title}}</a></p>                                    
                                </div>
                              </div>
                            </div>
                          
                            <!-- Controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div> 
                        <!-- Carousel -->

                    </div>
                </div>
                <div class="row display-flex">
                    <div class="col-xs-12">
                        <h2>Media Houses</h2>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{cnn[0].url_to_image}}" alt="CNN">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/cnn">{{cnn[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{cnn[0].url}}">{{cnn[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{bbc[0].url_to_image}}" alt="BBC">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/bbc-news">{{bbc[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{bbc[0].url}}">{{bbc[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{al[0].url_to_image}}" alt="Al Jazeera">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/al-jazeera-english">{{al[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{al[0].url}}">{{al[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{cbs[0].url_to_image}}" alt="CBS">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/cbs-news">{{cbs[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{cbs[0].url}}">{{cbs[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{politico[0].url_to_image}}" alt="Politico">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/politico">{{politico[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{politico[0].url}}">{{politico[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{usa_today[0].url_to_image}}" alt="USA Today">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/usa-today">{{usa_today[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{usa_today[0].url}}">{{usa_today[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{abc[0].url_to_image}}" alt="ABC News">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/abc-news">{{abc[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{abc[0].url}}">{{abc[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{fox[0].url_to_image}}" alt="Fox News">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/fox-news">{{fox[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{fox[0].url}}">{{fox[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{time[0].url_to_image}}" alt="Time">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/time">{{time[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{time[0].url}}">{{time[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{nbc[0].url_to_image}}" alt="NBC News">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/nbc-news">{{nbc[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{nbc[0].url}}">{{nbc[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{reuters[0].url_to_image}}" alt="Reuters">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/reuters">{{reuters[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{reuters[0].url}}">{{reuters[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{msnbc[0].url_to_image}}" alt="MSNBC">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/source/msnbc">{{msnbc[0].source_name}}</a></h5>
                              <p class="card-text"><a href="{{msnbc[0].url}}">{{msnbc[0].title}}</a></p>                              
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}