{% macro displayNewsList(news_list) %}    

{% for item in news_list %}

<div class="col-xs-12 col-md-4">
    <div class="card h-100">
        <img class="card-img-top" src="{{item.url_to_image}}" alt="{{item.source_name}}" onerror="imgError(this);">
        <div class="card-body">
          <h5 class="card-title">{{item.published_at}}</h5>
          <p class="card-text"><a href="{{item.url}}">{{item.title}}</a></p>
          <p class="card-text">- {{item.author}}</p>                              
        </div>
    </div>
</div>

{% endfor %}  

{% if len(news_list)==0 %}

<div class="col-xs-12 text-center mt-4">
    <h3>No articles found.</h3>
</div>

{% endif %}

{% endmacro %}



{% macro displaySources(sources) %}    

{% for source in sources %}

<p><a href="/source/{{source.source_id}}">{{source.source_name}}</a></p>

{% endfor %}  

{% endmacro %}